* {
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 54, 54);
}

#drum-machine {
    width: 30%;
    height: 40vw;
    background-color: maroon;
    border: 5px solid navajowhite;
    margin: auto
}

#display {
    background-color: grey;
    width: 90%;
    height: 2rem;
    display: flexbox;
    margin: 10px auto;
}

#button-case {
    background-color: grey;
    width: 90%;
    height: 30%;
    display: grid;
    gap: 20px;
}

.drum-pad {
    height: 2rem;
    width: 2rem;
}