body {
    background-color: grey;
    box-sizing: border-box;
}


#calculator {
    height: 40vh;
    width: 30vh;
    background-color: navy;
    margin: auto;
    padding: 2px;
}

#command-display {
    color: goldenrod;
    text-align: right;
}

#main-display {
    color: white;
    text-align: right;
}

.button {
    border: solid 1px black;
    width: 23%;
    height: 25%;
}